<header id="header">
  <div class="content">
    <div id="logo">
      CoWorks.ca
    </div>
    <nav id="nav">
    </nav>
  </div>
</header>


<div id="slide1">
  <div class="content">
    <h2>No distractions, get more done, have more fun.</h2>
    <h3>Prince Edward</h3>
  </div>
</div>


<div id="slide2">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">A full ecosystem built to help you work, play, and stay. We are here to help if you’re a local business or just coming to visit. Stay for the week with all the amenities to get your work done, call it a work-cation. Get stuck on something, simply take a stroll down the beach to clear your head.</h3>
      <h4 class="name-dark">-- Jay Elbourne</h4>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">We love creative people. We love a community that supports creative people. Coworks strives to support and grow a community filled with talent, ambition and passion.</h3>
      <h4 class="name">-- Coworks.ca staff</h4>
    </div>
  </div>
</div>

<div id="slidePricing">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">Build your company in the most desired vacation setting in Ontario.</h3>
      <h4 class="name-dark"></h4>
    </div>
    <h1>The Price of Freedom</h1>
    <div class="panel-container">
      <div class="panel">
        <h4 class="price-type">Hot Spots (Daily)</h4>
        <p>Need a place to set your laptop, connect to the net and get stuff done. Have all the tools you need at your fingertips for the on-demand price of:</p>
        <span class="price">$50/day</span>
      </div>
      <div class="panel">
        <h4 class="price-type">Shared Desks (monthly)</h4>
        <p>Make your stay with us longer term but still cost effective with shared desks. Get the office you need for only:</p>
        <span class="price">$200/month</span>
      </div>
      <div class="panel">
        <h4 class="price-type">Dedicated Desks (monthly)</h4>
        <p>Do you want a desk space all to yourself but still want the open office setting. Dedicated desks are for you. Reserve a desk for the whole month for only:</p>
        <span class="price">$350/month</span>
      </div>
      <div class="panel">
        <h4 class="price-type">Private Office (monthly)</h4>
        <p>If you have a team that needs to work together, we recommend our private offices with desks for teams of 4-6 people. Get this dedicated private office for only:</p>
        <span class="price">$750/month</span>
      </div>
      <div class="panel">
        <h4 class="price-type">Boardrooms (on demand)</h4>
        <p>Board room time is included with all membership types but non-members can a book boardroom for just:</p>
        <span class="price">$80/hour</span>
      </div>
    </div>
  </div>
</div>
